<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giphy</title>
</head> -->
<!-- 
<body>
  <div class="container">
    <h1>Giphy Search Engine</h1>
    <div class="input-group">
      <div class="form-outline">
        <input name="search" #searchTerm id="search-input" type="search" id="form1" class="form-control"
          placeholder="Search..." autocomplete="off" />
      </div>
      <button id="search-button" type="button" class="btn btn-info" (click)="performSearch(searchTerm)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>

      </button>
    </div>
  </div>

  <div class='card container'> 
    <div class="card-title">
      <p>Image: </p>
    </div>
<div class="card-body">
<p>Title</p>
</div>
  </div> -->
  <!-- <div class="container" >
    <div class="row">
      <div class="col">
        <div *ngFor="" class="card">
          <div class="view overlay">
            <p>image</p>
            <img src="" class="card-img-top img-fluid" alt="" />
          </div>
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Des</p>
          </div>
        </div>
      </div>
    </div> -->

<!-- </body> -->

<!-- </html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Giphies</h2>
  <div class="container">
    <hr>

    <div class="form-group mx-sm-3 mb-2">
      <input type="search" class="form-control" placeholder="Search" name="search" #searchTerm>
    </div>
    <button type="submit" class="btn btn-primary mb-2" (click)="performSearch(searchTerm)">Search Giphy</button>
    <hr>
    <!-- <div class="row">
      <div class="col-md-3 col-sm-12 col-lg-3  mt-2" *ngFor = 'let gif of giphies'>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{gif.imageUrl}}" alt="Card image cap">
          <div class="card-body">
            <p>Title : {{gif.title}}</p>
            <p>Username : {{gif.username}}</p>
            

          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-3 col-sm-12 col-lg-3  mt-2" *ngFor = 'let gif of searchGiphies'>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{gif.imageUrl}}" alt="Card image cap">
          <div class="card-body">
            <p>Title : {{gif.title}}</p>
            <p>Username : {{gif.username}}</p>
            

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>